
  <br>
  <br>
  <br>
  <ion-button class="buttonColor" expand="full" (click)="selected('uno')"  style="height: 17%;"> </ion-button>

  <ion-button class="buttonColor2" expand="full" (click)="selected('dos')"  style="height: 17%;"> </ion-button>
  <ion-button class="buttonColor3" expand="full" (click)="selected('tres')"  style="height: 17%;"> </ion-button>
  <ion-button class="buttonColor4" expand="full" (click)="selected('cuatro')"  style="height: 17%;"> </ion-button>
  <ion-button class="buttonColor5" expand="full" (click)="selected('cinco')"  style="height: 17%;"> </ion-button>

  
  <!--ion-img (click)="selected('uno')" expand="full" color="medium" class="topElement" style="width: 100%; height: 17%; margin-top:16%" 
  src="https://firebasestorage.googleapis.com/v0/b/pps1-251a8.appspot.com/o/assets%2Fnumeros%2Fnumero1.png?alt=media&token=8d1c07f2-cb1d-4e4e-88a8-644b40141ac3">
  </!--ion-img>
  
  
  <ion-img (click)="selected('dos')"  expand="full" color="medium" style="width: 100%; height: 17%; margin-top:0%" 
  src="https://firebasestorage.googleapis.com/v0/b/pps1-251a8.appspot.com/o/assets%2Fnumeros%2Fnumero2.png?alt=media&token=7fcc027a-b8a7-443e-ad9f-4d9ec30021f4">
  </ion-img>
  
  <ion-img (click)="selected('tres')" expand="full" color="medium" style="width: 100%; height: 17%; margin: auto;" 
  src="https://firebasestorage.googleapis.com/v0/b/pps1-251a8.appspot.com/o/assets%2Fnumeros%2Fnumero3.png?alt=media&token=6bf83fd5-a30b-4401-a443-8f152f507af2">
  </ion-img>
  
  <ion-img  (click)="selected('cuatro')" expand="full" color="medium" style="width: 100%; height: 17%; margin: auto;" 
  src="https://firebasestorage.googleapis.com/v0/b/pps1-251a8.appspot.com/o/assets%2Fnumeros%2Fnumero4.png?alt=media&token=445ef4e4-6f54-4f8c-acbe-054adba431c1">
  </ion-img>
  
  <ion-img-- (click)="selected('cinco')" expand="full" color="medium" style="width: 100%; height: 17%; margin: auto;" 
  src="https://firebasestorage.googleapis.com/v0/b/pps1-251a8.appspot.com/o/assets%2Fnumeros%2Fnumero5.png?alt=media&token=84788378-f2f6-44dd-8140-15a758df6c92">
  </ion-img-->
  
  
