
<br>
<br>
<br>

<ion-button class="buttonColor"  expand="full" (click)="selected('gato')"  style="height: 17%;"> </ion-button>
<ion-button class="buttonColor2" expand="full" (click)="selected('leon')"  style="height: 17%;"> </ion-button>
<ion-button class="buttonColor3" expand="full" (click)="selected('lobo')"  style="height: 17%;"> </ion-button>
<ion-button class="buttonColor4" expand="full" (click)="selected('perro')"  style="height: 17%;"> </ion-button>
<ion-button class="buttonColor5" expand="full" (click)="selected('rana')"  style="height: 17%;"> </ion-button>


<!--ion-img (click)="selected('gato')" expand="full" color="medium" style="width: 100%; height: 20%; margin: auto;" 
src="https://firebasestorage.googleapis.com/v0/b/pps1-251a8.appspot.com/o/assets%2Fanimales%2Fgato.png?alt=media&token=155c9ab0-c16f-46f3-9d4e-7a0294360470">
</!--ion-img>

<ion-img (click)="selected('leon')"  expand="full" color="medium" style="width: 100%; height: 20%; margin: auto;" 
src="https://firebasestorage.googleapis.com/v0/b/pps1-251a8.appspot.com/o/assets%2Fanimales%2Fleon.png?alt=media&token=0f4ae0d3-2fd9-494d-bab5-3a525b0892de">
</ion-img>

<ion-img (click)="selected('lobo')" expand="full" color="medium" style="width: 100%; height: 20%; margin: auto;" 
src="https://firebasestorage.googleapis.com/v0/b/pps1-251a8.appspot.com/o/assets%2Fanimales%2Flobo.png?alt=media&token=0d6e065d-05a1-411c-95b3-f7b74451e423">
</ion-img>

<ion-img  (click)="selected('perro')" expand="full" color="medium" style="width: 100%; height: 20%; margin: auto;" 
src="https://firebasestorage.googleapis.com/v0/b/pps1-251a8.appspot.com/o/assets%2Fanimales%2Fperro.png?alt=media&token=a91b2460-30d2-49fa-88c6-5771a7a1f773">
</ion-img>

<ion-img-- (click)="selected('rana')" expand="full" color="medium" style="width: 75%; height: 20%; margin: auto;" 
src="https://firebasestorage.googleapis.com/v0/b/pps1-251a8.appspot.com/o/assets%2Fanimales%2Frana.png?alt=media&token=eea7f868-8886-4b34-a7b9-719870bb5d7a">
</ion-img-->



