  
  ion-img {
	object-fit: fill;
  }
  


.buttonColor{
	  //width: 50%;
	  height: 17%;
	--color	:      none;
	--background : none;
	--color-hover: none;
	--color-hover: none;
	--background-hover-opacity:none;
	--background-hover: none;
	background-image:url('https://pngimg.com/uploads/cat/cat_PNG50435.png');
  background-size: contain;
	//background-size: 100% 100%  ;
}


.buttonColor2{
	//width: 50%;
	height: 17%;
  --color	: rgba(104, 241, 134, 0.281);
  --background : none;
  --color-hover: none;
  --color-hover: none;
  --background-hover-opacity:none;
  --background-hover: none;
  background-image:url('http://assets.stickpng.com/images/580b57fbd9996e24bc43bc8a.png');
  background-size: contain;
  //background-size: 100% 100% ;
}

.buttonColor3{
	//width: 50%;
	height: 17%;
  --color	: none;
  --background : none;
  --color-hover: none;
  --color-hover: none;
  --background-hover-opacity:none;
  --background-hover: none;
  background-image:url('https://firebasestorage.googleapis.com/v0/b/pps1-251a8.appspot.com/o/assets%2Fanimales%2Flobo.png?alt=media&token=0d6e065d-05a1-411c-95b3-f7b74451e423');
  background-size: contain;
  //background-size: 100% 100% ;
}

.buttonColor4{
	//width: 50%;
	height: 17%;
  --color	: none;
  --background : none;
  --color-hover: none;
  --color-hover: none;
  --background-hover-opacity:none;
  --background-hover: none;
  background-image:url('https://firebasestorage.googleapis.com/v0/b/pps1-251a8.appspot.com/o/assets%2Fanimales%2Foutput-onlinepngtools%20(1).png?alt=media&token=b71ffb3a-f2fd-47ce-9c79-f6e7924ead14');
  background-size:contain;
  //background-size: 100% 100% ;
}

.buttonColor5{
	//width: 100%;
	height: 17%;
  --color	: none;
  --background : none;
  --color-hover: none;
  --color-hover: none;
  --background-hover-opacity:none;
  --background-hover: none;
  background-image:url('https://pngimg.com/uploads/frog/frog_PNG3843.png');
  background-size: contain;
  //background-size: 50% 50% ;
}