
  
  

  <br>
  <br>
  <br>

<ion-button class="buttonColorAmarillo" expand="full" (click)="selected('amarillo')"  style="height: 17%;"> </ion-button>
<ion-button class="buttonColorAzul" expand="full" (click)="selected('azul')"   style="height: 17%;"> </ion-button>
<ion-button class="buttonColorRojo" expand="full" (click)="selected('rojo')"   style="height: 17%;"> </ion-button>
<ion-button class="buttonColorRosa" expand="full" (click)="selected('rosa')"   style="height: 17%;"> </ion-button>
<ion-button class="buttonColorVerde" expand="full" (click)="selected('verde')"   style="height: 17%;"> </ion-button>

<!--ion-button color="none" 
  class="home-link link-2"
  style="background-image:url('https://firebasestorage.googleapis.com/v0/b/pps1-251a8.appspot.com/o/assets%2Fcolores%2Famarillo.png?alt=media&token=1436eec0-6f71-4cd3-8635-c5cdf814e838'); background-size:cover" 
  routerLink="/schedule"
> 

</!--ion-button-->



  <!--ion-img (click)="selected('amarillo')" expand="full" color="medium" class="topElement" style="height: 20%;"
  src="https://firebasestorage.googleapis.com/v0/b/pps1-251a8.appspot.com/o/assets%2Fcolores%2Famarillo.png?alt=media&token=1436eec0-6f71-4cd3-8635-c5cdf814e838">
  </!--ion-img>
  
  
  <ion-img (click)="selected('azul')"  expand="full" color="medium"  style="height: 17%;"
  src="https://firebasestorage.googleapis.com/v0/b/pps1-251a8.appspot.com/o/assets%2Fcolores%2Fazul.png?alt=media&token=0f10523a-3822-40cc-89fc-0205a3556add">
  </ion-img>
  
  <ion-img (click)="selected('rojo')" expand="full" color="medium"  style="height: 17%;"
  src="https://firebasestorage.googleapis.com/v0/b/pps1-251a8.appspot.com/o/assets%2Fcolores%2Frojo.png?alt=media&token=9a9f8f8d-18ad-4130-bd27-aa7056a900a1">
  </ion-img>
  
  <ion-img  (click)="selected('rosa')" expand="full" color="medium" style="height: 17%;"   
  src="https://firebasestorage.googleapis.com/v0/b/pps1-251a8.appspot.com/o/assets%2Fcolores%2Frosa2.png?alt=media&token=35aff111-2c74-4ccb-856a-ceb57e52697f">
  </ion-img>
  
  <ion-img-- (click)="selected('verde')" expand="full" color="medium" style="height: 17%;"  
  src="https://firebasestorage.googleapis.com/v0/b/pps1-251a8.appspot.com/o/assets%2Fcolores%2Fverde.png?alt=media&token=99ac575e-4f45-4694-9457-15eb9f0b922d">
  </ion-img-->
  
  